<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Registrar<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Email" name="emailData">
        <input type="text" placeholder="Senha" name="passwordData">
        <button type="submit">Registrar</button>
    </form>
</body>
</html>