<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>
<body>
	<form action="/auth" method="POST">
        <input type="text" placeholder="Email" name="emailLogin">
        <input type="password" placeholder="password" name="passwordLogin">
        <button type="submit">Entrar</button>
    </form>
</body>
</html>